---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardCert.astro";
const allCertificates = await getCollection("certificates");
const pageTitle = "Certificates";
---

<Layout pageTitle={pageTitle} class="">
    <div class="gif">
        <img id="gifImage" width="300" height="225" alt="RaccoonNotesGif" src="/blog.webp" />
    </div>
    <h2>Certificates</h2>
    <ul role="list" class="link-card-grid">
        {
            allCertificates.map((cardPost) => (
            <Card 
            image= {cardPost.data.image}
            title={cardPost.data.title} 
            alias={cardPost.data.alias}
            />
            ))
        }
    </ul>

</Layout>
